<% provide(:title, 'Home') %>
<div class="text-center jumbotron">
  <h1>Welcome to Comic Catch Up</h1>
  <h3>Sign up to start adding comics to your list.</h3>
  <br/>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign in",      signin_path, class: "btn btn-large btn-primary" %>
</div>
