<% provide(:title, 'Home') %>
<div class="text-center jumbotron">
  <h1>Welcome to Comic Catch Up</h1>
  <h3>This is your reading list. Head over to Spotlight and start adding comics to get started.</h3>
  <br/>
</div>
