<body class="spider-img">
  <div class="page-header">

    <h1>StaticPages#spider_man</h1>
  </div>
  <p>Find me in app/views/static_pages/spider_man.html.erb</p>

  <a href="https://youtu.be/-6vWD5TLtEs">here</a>

  <ul>
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
   <li>Vestibulum auctor dapibus neque.</li>
</ul>


</body>
