<% provide(:title, 'Spotlight') %>
<h2>This month's spotlight is on Black Panther and the Civil War Event.</h2>
<h4>Or choose from any MCU movie below.</h4>
<ul>
  <li>Iron Man</li>
  <li>Captain America</li>
  <li>Thor</li>
  <li>The Hulk</li>
  <li>Ant Man</li>
  <li>Black Panther</li>
  <li>Spider Man</li>
</ul>
